.title {
  font: normal normal normal 1.2em/1.2em Nunito;
}

.text {
  font: normal normal normal 1em/1.4em Nunito;
}

.image {
  width: 80%;
  height: auto;
  max-height: 100%;
}

.hiddenItems {
  overflow: hidden;
  transition: clip-path 350ms ease-in-out;
  clip-path: inset(0 0 0 0);
  &.hidden {
    transition: clip-path 350ms ease-in-out;
    clip-path: inset(0 0 100% 0);
    height: 0;
  }
}
