@import "./src/DesignVariables/DesignVariables.scss";

.town {
  text-align: center;
  font: normal normal bold 1.6em/1em Nunito;
  letter-spacing: 0px;
  color: $primary-color-1;
  opacity: 1;
}

.description {
  text-align: center;
  font: normal normal normal 1em/1em Nunito;
  letter-spacing: 0px;
  color: $primary-color;
  opacity: 1;
  border-color: $primary-color;
}

.container {
  width: fit-content;
}

.whatsappButton {
  background-color: #65d16d;
  color: #fff;
  span.anticon {
    color: #fff;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: #65d16d90;
    span.anticon {
      color: #000;
    }
  }
}
