.ant-select {
  text-align: center;
  font: normal normal normal 16px/22px Nunito;
  letter-spacing: 0px;
  color: #162162;
  opacity: 1;
}

.columnWithSideBorder {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 17%;
    left: 0;
    width: 100%;
    height: 66%;
    border-width: 0 1px;
    border-style: solid;
    border-color: #70707070;
  }
}

.shadowBox {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #3f8cd15a;
  border-radius: 10px;
  opacity: 1;
}
