@import "./src/DesignVariables/DesignVariables.scss";

.container {
  // width: 200px;
  height: 325px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #3f8cd15a;
  border-radius: 10px;
  opacity: 1;
  padding: 1em;

  .name {
    text-align: center;
    font: normal normal bold 1em/1em Nunito;
    letter-spacing: 0px;
    color: $primary-color;
  }

  .title {
    text-align: center;
    font: normal normal normal 0.8em/1em Nunito;
    letter-spacing: 0px;
    color: $primary-color;
  }

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    & .name,
    & .title {
      color: #fff !important;
    }
  }
}
