@import "../../DesignVariables/DesignVariables.scss";
$font: normal normal normal 1em/1em Nunito;
$line-height: 1.8em;

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font: $font;
}

img.logo {
  height: auto;
  width: calc(7em + 90 * ((100vw - 320px) / 1580));
}

.brandTitle {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbarLinks {
  line-height: $line-height;
}

.navbarLinks ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarLinks li {
  list-style: none;
}

.navbarLinks li a {
  display: block;
  text-decoration: none;
  margin: 0 1rem;
  color: $primary-color-1;
  border-bottom: 2px solid transparent;
  letter-spacing: 0px;

  &.selected {
    color: $primary-color;
  }

  &:hover,
  &:active {
    border-bottom: 2px solid $primary-color;
  }
}

.navbarActionsSmallScreen {
  display: none;
}

.toggleButton .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

Button.beratung {
  color: $primary-color;
  padding: 0 0.8em;
  border-radius: 5px;
  border: 2px solid $primary-color;
  & span {
    font: $font;
  }
}

.navbarActionsMediumScreen {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .navbar {
    align-items: center;
  }

  .navbarActionsSmallScreen {
    display: flex;
    gap: 0.25em;
  }

  .navbarActionsSmallScreen .toggleButton {
    color: #fff;
  }

  .navbarActionsMediumScreen {
    display: none;
  }

  .navbarLinks {
    display: none;
    width: 100%;
    background-color: #fff;
    color: $primary-color-1;
    position: absolute;
    top: 90%;
  }

  .navbarLinks ul {
    width: 100%;
    flex-direction: column;
    padding: 2em 0;
  }

  .navbarLinks ul li {
    text-align: center;
  }

  .navbarLinks ul li a {
    padding: 0.5rem 1rem;
    &:hover,
    &:active {
      color: $primary-color-1 !important;
      border: none !important;
    }
  }

  .navbarLinks.active {
    display: flex;
  }
}
