@import "./DesignVariables/DesignVariables.scss";

.site-layout-content {
  min-height: calc(100vh - 128px);
}

.ant-btn.app-btn {
  $hover-bg-color: $primary-color;
  $hover-border-color: $primary-color;
  $hover-color: #fff;

  border-color: $primary-color-1;
  color: $primary-color-1;
  &.app-btn-primary {
    border-color: $primary-color;
    color: $primary-color;
  }
  border-radius: 0.5rem;
  border-width: 2px;
  transition-duration: 200ms;
  &:hover {
    background-color: $hover-bg-color;
    color: $hover-color;
    span.anticon {
      filter: invert(1);
    }
    border-color: $hover-border-color;
  }
}
